# Cargo manifest for the beagle-server crate
[package]
name = "beagle-server"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]

