[Unit]
Description=Sounio 10Gb service fabric dnsmasq
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/dnsmasq.d/service-fabric.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
